body {
    font-family: 'Helvetica', 'Arial', sans-serif;;
    min-width: 300px;
    background-color: #031926;
}

/*********  Header  *********/

/* sets header to a grid */
header {
    display: grid;
    justify-items: center;
    background-color: #F4E9CD;
    margin-left: 20px;
    margin-right: 20px;
}
header h1{
    justify-self: center;
}
header nav ul {
    /* over writes user agent */
    padding-inline-start: 0px;
    /* creates flex box for nav items */
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 300px;
    gap: 5px;
}
/* creates border for nav items */
header nav ul li{
    background-color: #C9C4B6;
    padding: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
}
/* changes nav item text */
header nav ul li a {
    color: #031926;
    text-decoration: none;
}

/**********  MAIN  ***********/

/* sets margins */
main {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

/******* About Me  **********/

/* creates a grid for about me section */
.about-me{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #468189;
}
.about-me h2{
    text-align: center;
}
.about-me article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.about-me article img{
    justify-content: end;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: #031926;
}
.about-me article p{
    max-width: 620px;
    align-items: center;
    text-align: center;
    text-indent: 20px;
    border-style: solid;
    border-color: #77ACA2;
    background-color: #F4E9CD;
    }

/*********  Work  *********/

.work{
    margin-top: 10px;
    padding: 10px;
    background-color: #F4E9CD; 
}
.work h2{
    text-align: center;
}
.work-grid{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px;
    grid-auto-rows: 100px;
    justify-content: center;
    grid-row-gap: 20px;
    grid-column-gap: 40px;
    margin-bottom: 20px;
}
.work-grid article h3{
    margin-block-start: 0px;
    margin-block-end: 0px;
    position: relative;
    left: 0px;
    top: 250px;
    max-width: 100px;
    background-color: #77ACA2;
}
.work-grid article img{
    background-color: black;
    justify-self: center;
    border-style: solid;
    border-width: 5px;
    border-color: #77ACA2;
}
.work-item-big{
    grid-column-start: 1;
    grid-column-end: 3;
}
.work-item-small{
    display: none;
}



footer {
    margin-block-end: 0px;
    margin-block-start: 0px;
    background-color: #468189;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    }
footer h3{
    color: #F4E9CD;
    background-color: #468189;
    text-align: center;
}
footer p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}
footer p a{
    color: #F4E9CD;
}
.work-grid img:hover{
    opacity: 0.8;
    border-width: 10px;
}

/******  re-size for smaller screens ******8*/
@media screen  and (max-width: 925px){
    .work-grid{
          grid-template-columns: 300px;
          grid-template-rows: 100px;     
          justify-content: center;             
    }
    .work-item-big{
        display: none;
    }
    .work-item-small{
        display: initial;
    }
}


/* WORK IN PROGRESS */
/********* smaller screen elements **********/

/* .work-grid-small{
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 80px;
    justify-content: center;
    grid-row-gap: 10px;
    display: none;

}
.work-grid-small img{
        justify-self: center;
        border-style: solid;
        border-width: 5px;
        border-color: #77ACA2;
}


@media screen and (max-with: 449px) {
    .work-grid{
        display: none;
    }
    .work-grid img{
        display: none;
    }
    .work-grid-small{
        display: grid;
    }
} */

