body {
    min-width: 300px;
    background-color: #031926;
}

header {
    display: grid;
    justify-items: center;
    background-color: #F4E9CD;
    margin-left: 20px;
    margin-right: 20px;
}
header h1{
    justify-self: center;
    background-color: #F4E9CD;
}

nav ul {
    padding-inline-start: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 300px;
    gap: 5px;
}

nav ul li{
    background-color: #C9C4B6;
    padding: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    
}
nav ul li a {
    color: #031926;
    text-decoration: none;
}
main {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.about-me{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #468189;
}
.about-me h2{
    text-align: center;
}
.about-me article{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.about-me article img{
    
    /* img spacing */
    justify-content: end;
    /* img border */
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: #031926;
}
.about-me article p{
    display: flex;
    /* about me paragraph spacing */
    max-width: 620px;
    align-items: center;
    text-align: center;
    text-indent: 20px;
    background-color: #F4E9CD;
    }